
    <div class="container">
        <br>
        <h2>교통수단은 무엇이에요?</h2>
         <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" id="vehicle" value="" placeholder="교통수단을 입력해주세요!">
          </div>
          <div class="results"></div>
          <button class="ui button" id="check_button">검색</button>
        </div>
    </div>