    <br>
    <br>
    <br>

    <div>
        <table class="table_list">
                <tr>
                    <th>고속버스</th>
                    <th>지역버스</th>
                    <th>관광버스</th>
                    <th>지하철</th>
                    <th>기차</th>
                    <th>KTX</th>
                </tr>
                <tr>
                    <th>
                        <div class="ui small images">
                            <img class="list_images" id="고속버스" src="../public/images/wireframe/vehicle/고속버스.png">
                        </div>
                    </th> 
                    <th>
                        <div class="ui small images">
                            <img class="list_images" id="지역버스" src="../public/images/wireframe/vehicle/지역버스.png">
                        </div>        
                    </th>
                    <th>
                        <div class="ui small images">
                            <img class="list_images" id="관광버스" src="../public/images/wireframe/vehicle/관광버스.png">
                        </div>
                    </th>
                    <th>
                        <div class="ui small images">
                            <img class="list_images" id="지하철" src="../public/images/wireframe/vehicle/지하철.png">
                        </div>
                    </th>
                    <th>
                        <div class="ui small images">
                        <img class="list_images" id="기차"  src="../public/images/wireframe/vehicle/기차.png">
                        </div>
                    </th>
                    <th>
                        <div class="ui small images">
                        <img class="list_images" id="KTX" src="../public/images/wireframe/vehicle/KTX.png">
                        </div>
                    </th>
                </tr>

                <tr>
                    <th>비행기</th>
                    <th>자동차</th>
                    <th>자전거</th>
                    <th>오토바이</th>
                    <th>스쿠터</th>
                    <th>도보</th>
                </tr>
                <tr>
                    <th>
                        <div class="ui small images">
                            <img class="list_images" id="비행기" src="../public/images/wireframe/vehicle/비행기.png">
                        </div>
                    </th> 
                    <th>
                        <div class="ui small images">
                            <img class="list_images" id="자동차" src="../public/images/wireframe/vehicle/자동차.png">
                        </div>        
                    </th>
                    <th>
                        <div class="ui small images">
                            <img class="list_images" id="자전거" src="../public/images/wireframe/vehicle/자전거.png">
                        </div>
                    </th>
                    <th>
                        <div class="ui small images">
                            <img class="list_images" id="오토바이" src="../public/images/wireframe/vehicle/오토바이.png">
                        </div>
                    </th>
                    <th>
                        <div class="ui small images">
                        <img class="list_images" id="스쿠터" src="../public/images/wireframe/vehicle/스쿠터.png">
                        </div>
                    </th>
                    <th>
                        <div class="ui small images">
                        <img class="list_images" id="도보" src="../public/images/wireframe/vehicle/도보.png">
                        </div>
                    </th>
                </tr>
        </table>
    </div>

    <br>
    <br>
    <br>