<br>
<br>
<br>
<h2>어느 지역을 찾으세요?</h2>
<br>

<div>
    <table class="table_list">
        <tr>
            <th>서울</th>
            <th>경기도</th>
            <th>인천</th>
            <th>강원도</th>
        </tr>
        <tr>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="서울" src="../../../public/images/wireframe/region/서울.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="경기도" src="../../../public/images/wireframe/region/경기도.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="인천" src="../../../public/images/wireframe/region/인천.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="강원도" src="../../../public/images/wireframe/region/강원도.png">
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>충청도</th>
            <th>전라도</th>
            <th>경상도</th>
            <th>제주도</th>
        </tr>
        <tr>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="충청도" src="../../../public/images/wireframe/region/충청도.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="전라도" src="../../../public/images/wireframe/region/전라도.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="경상도" src="../../../public/images/wireframe/region/경상도.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="제주도" src="../../../public/images/wireframe/region/제주도.png">
                    </div>
                </div>
            </th>
        </tr>
    </table>
</div>