
    <div class="container">
        <br>
        <h2>어디로 떠나고 싶으세요?</h2>
         <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" id="distance" value="" placeholder="지역을 입력해주세요!">
          </div>
          <div class="results"></div>
          <button class="ui button" id="check_button">검색</button>
        </div>
    </div>
