<br>
<br>
<h2>어떤 여행을 하고 싶으세요?</h2>

<div>
    <table class="table_list">
        <br>
        <tr>
            <th>음악</th>
            <th>음식</th>
            <th>자연</th>
            <th>문화</th>
        </tr>
        <tr>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="음악" src="../../../public/images/wireframe/hobby/음악.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="음식" src="../../../public/images/wireframe/hobby/음식.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="자연" src="../../../public/images/wireframe/hobby/자연.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="문화" src="../../../public/images/wireframe/hobby/문화.png">
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>역사</th>
            <th>관광</th>
            <th>경제</th>
            <th>쇼핑</th>
        </tr>
        <tr>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="역사" src="../../../public/images/wireframe/hobby/역사.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="관광" src="../../../public/images/wireframe/hobby/관광.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="경제" src="../../../public/images/wireframe/hobby/경제.png">
                    </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <div class="ui small images">
                        <img class="ajax_img" name="쇼핑" src="../../../public/images/wireframe/hobby/쇼핑.png">
                    </div>
                </div>
            </th>
        </tr>
    </table>
</div>
