        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=deivce-height,
                                       initial-scale=1">
        
        <title>여행지 경험 공유 사이트</title>
        
        <link href="../../public/semantic.min.css" rel="stylesheet">
        
        <script src="../../public/jquery-3.4.1.min.js"></script>
        <script src="../../public/semantic.min.js"></script>
        
        <style>
            *{
                padding: 0;
                margin: 0;
                box-sizing: 0;
            }
            
            html {
                width: 100%;
                height: 100%;
            }
            
            body {
                width: 100%;
                height: 100%;
                color: #000;
                background-color: #fff;
                background-image: url('/public/images/background_image/walks_on_dock.jpg');
                background-repeat: no-repeat;
                background-size: 1500px 2500px;
                min-width: 100%;
                min-height: 100%;
                
            }
            
            h2 {
                text-align: center;
                margin: 20px;
            }
            
            h4 {
                text-align: center;
                margin: 20px;
            }
            
            .container {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin: 0 auto;
            }
            
            .container_random {
                width: auto;
                height: auto;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin: auto;
            }
            
            img {
                padding: 20px;
                margin: 20px;
                text-align: center;
            }
            
            .img_center {
                text-align: center;
                width: 130px;
                height: 130px;
            }
            
            .table_list{
                font-size:30px; 
                margin:auto;
            }
            .prompt {
                width: 500px;
                font-size: 20px;
            }
            .random_img {
                width: 140px;
                height: 120px;
                text-align: center;
                padding: 5px;
                margin: 5px;
            }
            
            .font_color {
            color:white;
            }
            
            /*#background_img_header_secondary_menu {
                background-image: url('/public/images/background_image/sky_002.jpg');
                background-repeat: no-repeat;
                background-size: 1500px 200px;
            }*/
            #background_img_header_menubar {
                background-image: url('/public/images/background_image/sky_003.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            #random_img_list {
                min-width:50%;
                min-height:50%;
                width:50%;
                height:50%;
            }
            
            .card {
                min-width: 160px;
                min-height: 500px;
                text-align: center;
            }
        
        </style>
        
        <script type="text/javascript">
            
            <%- include ('../info/data_region.ejs'); -%>
            
            $(document).ready(function(){       
              
                /*$.ajax({
                        url: '/process/ajax_sample',
                        dataType: 'json',
                        type: 'POST',
                        success: function(result){
                            
                            var list = result.result;
                            
                            var listLen = list.length;
                            var contentStr = '';
                            
                            for(var i = 0; i<listLen; i++){
                                contentStr = contentStr+"[이름: "+list[i].name+"] 나이: "+list[i].age+" ";
                            }
                            
                            alert(contentStr);
                            
                        }
                    });*/
                
                    $.ajax({
                        url: '/process/ajax_load_random_img',
                        dataType: 'json',
                        async:false,
                        type: 'POST',
                        success: function(result){
                            
                            //var list = result.result;
                            
                            //var listLen = list.length;
                            //var contentStr = '';
                            
                            /*for(var i = 0; i<listLen; i++){
                                contentStr = contentStr+"[이름: "+list[i].name+"] 나이: "+list[i].age+" ";
                            }
                            
                            alert(contentStr);*/
                            
                            //alert(list);
                            
                            var random_img_list = result.results;
                            
                            for(var i=0; i<random_img_list.length;i++){
                                $('#random_img_list').append('<div class="card"><div class="image"><p class="img_center"><img class="random_img" src="'+random_img_list[i].photo+'"id="'+random_img_list[i]._id+'"></p></div><div class="extra"> 작성자:'+random_img_list[i].writer.id+'</div></div>');
                            }
                            
                        }
                    });
                
                
                
                $("#select_button0,#select_button1,#select_button2,#select_button3").click(function(event){
                    var name_check =$(this).attr("name");
                    //alert('해당 '+name_check+'의 버튼이 클릭되었습니다.');
                    
                    if(name_check == '국내여행'){
                        location.href= '/national_travel';
                    }
                    else if (name_check == '교통수단'){
                        location.href= '/vehicle_travel';
                    }
                    else if (name_check == '여행 준비'){
                        location.href= '/ready_to_travel';
                    }else if (name_check == '게시판'){
                        
                        $.ajax({
                            url:'/process/ajax_exist_session',
                            dataType:'json',
                            type:'POST',
                            success:function(result){     
                                var result_info = result.result;
                                
                                if(result_info.id!=null&&result_info.name!=null){
                                    location.href= '/process/listpost?page=0&perPage=5'; 
                                }else{
                                    alert('게시판 정보를 이용할 수 없습니다. 로그인해주세요!');
                                }      
                            }
                        });
                        
                    }
                });
                
                $("#home,#login,#sign_up,#logout,#update,#delete,#search").click(function(event){
                    var name_check =$(this).attr("name");
                    /*if(name_check=='search'){
                        var value_check =$('#head_search_text').val();
                        alert('해당 '+value_check+'을 엔진 '+name_check+'로 검색하겠습니다. ');
                    }else{
                        alert('해당 '+name_check+'의 버튼이 클릭되었습니다.');
                    }*/
                    
                    if(name_check=='home'){
                        location.href='/';
                    }
                    else if(name_check=='login'){
                        location.href='/public/login.html';
                    }
                    else if (name_check=='sign_up'){
                        location.href='/public/adduser.html';
                    }
                    else if (name_check=='update'){
                        location.href='/public/updateuser.html';
                    }
                    else if (name_check=='delete'){
                        location.href='/public/deleteuser.html';
                    }
                    else if (name_check=='logout'){
                        
                        $.ajax({
                        url: '/process/ajax_logout',
                        dataType: 'json',
                        type: 'POST',
                        success: function(result){
                            
                            var userId = result.result.id;
                            var userName = result.result.name;
                            
                            if(userId!=null&&userName!=null){
                                alert('해당 '+userId+' 와 '+userName+' 을 로그아웃했습니다.');
                                location.href='/';
                            }
                            else{
                                alert('로그인을 다시 시도해주시길 바랍니다.');
                            }
                        }
                    });   
                    }
                    else if (name_check=='search'){
                        var valueById = $('#head_search_text').val();
                        
                        if(valueById == ''){
                            alert('아무런 단어를 작성하지 않았습니다.');
                        }else{
                            alert('해당 내용 단어으로 검색합니다: '+valueById);
                            location.href = '/process/acting_search_word?search_word='+valueById+'&page=0&perPage=5';   
                        }
                        
                    }
                });
                
                /*$(".ajax_img").click(function(){
                    
                    //var post = 'Post Method Call';
                    
                    var post = $(this).attr("name");
                    
                    $.ajax({
                        url: '/process/ajax_response',
                        dataType: 'json',
                        type: 'POST',
                        data: {data:post},
                        success: function(result){
                            if(result){
                                //var value_name = $(this).attr("name");
                                alert('해당 '+result.result+'의 버튼이 클릭되었습니다.');
                                //alert(result.result);
                                }
                            }
                        });
                    });*/
                
                $(".ajax_img").click(function(){
                      
                    var post = $(this).attr("name");
                     
                    $.ajax({
                        url: '/process/ajax_exist_session',
                        dataType:'json',
                        type:'POST',
                        success:function(result){
                            var userId = result.result.id;
                            var userName = result.result.name;
                            
                            if(userId!=null&&userName!=null){
                                alert('해당 '+userId+' 와 '+userName+' 으로 로그인되어있습니다.');
                                location.href = '/process/acting_region?region='+post+'&page=0&perPage=5';          
                            }
                            else{
                                alert('로그인이 되어있지 않습니다. 로그인을 다시 시도해주시길 바랍니다.');
                            }
                            
                        }
                    }); 
                    
                });
                
                
                $('.ui.rating').rating('disable');
                
                $(".random_img").click(function(event){
                    
                    var post = $(this).attr("id");
                    
                    /*$.ajax({
                        url: '/process/ajax_random_img',
                        dataType: 'json',
                        type: 'POST',
                        data: {data:post},
                        success: function(result){
                            if(result){
                               alert('해당 '+result.result+'의 버튼이 클릭되었습니다!!!');  
                            }
                        }
                    });*/
                    
                    $.ajax({
                        url: '/process/ajax_exist_session',
                        dataType:'json',
                        type:'POST',
                        success:function(result){
                            var userId = result.result.id;
                            var userName = result.result.name;
                            
                            if(userId!=null&&userName!=null){
                                alert('해당 '+userId+' 와 '+userName+' 으로 로그인되어있습니다.');
                                location.href = '/process/showpost/'+post;          
                            }
                            else{
                                alert('로그인이 되어있지 않습니다. 로그인을 다시 시도해주시길 바랍니다.');
                            }
                        }
                    }); 
                    
                });
                
                $("#check_button").click(function(event){
                    var value_check =$("#distance").val();
                    
                    if(value_check == ''){
                        alert('검색창에 검색 내용을 작성하지 않았습니다. 작성해주세요! ');
                    }else{
                        alert('해당 '+value_check+'의 버튼이 클릭되었습니다.');
                        
                        $.ajax({
                        url: '/process/ajax_exist_session',
                        dataType:'json',
                        type:'POST',
                        success:function(result){
                            var userId = result.result.id;
                            var userName = result.result.name;
                            
                            if(userId!=null&&userName!=null){
                                alert('해당 '+userId+' 와 '+userName+' 으로 로그인되어있습니다.');
                                location.href = '/process/acting_check_button?story='+value_check+'&page=0&perPage=5';      
                            }
                            else{
                                alert('로그인이 되어있지 않습니다. 로그인을 다시 시도해주시길 바랍니다.');
                            }
                        }
                    }); 
                    }
                    
                });
                
                $('.ui.search').search({
                    type: 'category',
                    source: categoryContent
                });
                
            });
        </script>