    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=deivce-height,
                                   initial-scale=1">

    <title>여행지 경험 공유 사이트</title>

    <link href="../../public/semantic.min.css" rel="stylesheet">

    <script src="../../public/jquery-3.4.1.min.js"></script>
    <script src="../../public/semantic.min.js"></script>

    <style>

        *{
            padding: 0;
            margin: 0;
            box-sizing: 0;
        }

        html {
            width: 100%;
            height: 100%;
        }

        body {
            width: 100%;
            height: 100%;
            color: #000;
            background-color: #fff;
            background-image: url('/public/images/background_image/korea_travel_003.jpg');
            background-repeat: no-repeat;
            background-size: 1500px 2600px;
            
        }

        h2 {
            text-align: center;
            margin: 20px;
        }
        
        h4 {
            text-align: center;
            margin: 20px;
        }

        .container {
            max-width: 50%;
            max-height: 50%;
            width : 100%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
        }

        .ui .card {
            max-width: 50%;
            max-height: 50%;
            width: 300px;
            height: 300px;
            margin: 20px;
        }

        .national_travel {
            font-size:30px;
            margin: 20px;
            text-align: center;
        }

        .prompt {
            width: 500px;
            font-size: 20px;
        }

        .table_list{
            font-size:30px; 
            margin:auto;
        }

        .list_images{
            text-align: center;
            padding : 10px;
            margin : 10px;
        }
        
        .font_color {
            color:white;
        }
        
        #background_img_header_menubar {
            background-image: url('/public/images/background_image/sky_003.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        #vehicle_travel_field {
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        

    </style>
    <script type="text/javascript">

        <%- include ('../info/data_vehicle.ejs'); -%>

        var select_vehicle = 0;


        $(document).ready(function(){
            
            $.ajax({
                url: '/process/ajax_input_vehicle_travel',
                dataType: 'json',
                type: 'POST',
                success: function(result){                  
                    var input_info = result.results.results;
                    var check_session = result.results.data;
                    var reverse_num = input_info.length-1;
                    
                    for(var i =0; i<8; i++){
                        
                        var save_story;
                        
                        if(input_info[reverse_num].contents.length>100){
                            save_story = input_info[reverse_num].contents.substring(0,100);
                            save_story = save_story+'...'
                        }else{
                            save_story = input_info[reverse_num].contents.substring(0,100);
                        }
                        
                        if(check_session.id!=null && check_session.name!=null){
                            
                            $('#vehicle_travel_field').append('<a class="ui card" id="national_travel" href="/process/showpost/'+input_info[reverse_num]._id+'"><div class="content"><div class="header">'+input_info[reverse_num].title+'</div><div class="meta"><span class="category">'+input_info[reverse_num].traffic+'</span></div><div class="description"><p>'+save_story+'</p></div></div><div class="extra content"><div class="right floated author"><img class="ui avatar image" src="/public/images/user.jpg" id ="user_img">'+input_info[reverse_num].writer.id+'</div></div></a>');
                        
                            reverse_num--;
                            
                        }else{
                            $('#vehicle_travel_field').append('<a class="ui card" id="national_travel"><div class="content"><div class="header">'+input_info[reverse_num].title+'</div><div class="meta"><span class="category">'+input_info[reverse_num].traffic+'</span></div><div class="description"><p>'+save_story+'</p></div></div><div class="extra content"><div class="right floated author"><img class="ui avatar image" src="/public/images/user.jpg" id ="user_img">'+input_info[reverse_num].writer.id+'</div></div></a>');
                            
                            reverse_num--;
                        }
                        
                    }
                    
                }
            });
            
            
            $("#home,#login,#sign_up,#logout,#update,#delete,#search").click(function(event){
                var name_check =$(this).attr("name");
                /*if(name_check=='search'){
                    var value_check =$('#head_search_text').val();
                    alert('해당 '+value_check+'을 엔진 '+name_check+'로 검색하겠습니다. ');
                }else{
                    alert('해당 '+name_check+'의 버튼이 클릭되었습니다.');
                }*/
                if(name_check=='home'){
                    location.href='/';
                }
                else if(name_check=='login'){
                    location.href='/public/login.html';
                }
                else if (name_check=='sign_up'){
                    location.href='/public/adduser.html';
                }
                else if (name_check=='update'){
                    location.href='/public/updateuser.html';
                }
                else if (name_check=='delete'){
                    location.href='/public/deleteuser.html';
                }
                else if (name_check=='logout'){ 
                    $.ajax({
                    url: '/process/ajax_logout',
                    dataType: 'json',
                    type: 'POST',
                    success: function(result){

                        var userId = result.result.id;
                        var userName = result.result.name;

                        if(userId!=null&&userName!=null){
                            alert('해당 '+userId+' 와 '+userName+' 을 로그아웃했습니다.');
                            location.href='/vehicle_travel';
                        }
                        else{
                            alert('로그인을 다시 시도해주시길 바랍니다.');
                        }
                    }
                });   
                }
                else if (name_check=='search'){
                    var valueById = $('#head_search_text').val();
                    
                    if(valueById == ''){
                        alert('아무런 단어를 작성하지 않았습니다.');
                    }else{
                        alert('해당 내용 단어으로 검색합니다: '+valueById);
                        
                        $.ajax({
                            url: '/process/ajax_exist_session',
                            dataType:'json',
                            type:'POST',
                            success:function(result){
                                var userId = result.result.id;
                                var userName = result.result.name;

                                if(userId!=null&&userName!=null){
                                    alert('해당 '+userId+' 와 '+userName+' 으로 로그인되어있습니다.');
                                    location.href = '/process/acting_search_word?search_word='+valueById+'&page=0&perPage=5';

                                }
                                else{
                                    alert('로그인이 되어있지 않습니다. 로그인을 다시 시도해주시길 바랍니다.');
                                }

                            }
                    });   
                    }

                } 
            });
            $("#select_button0,#select_button1,#select_button2,#select_button3").click(function(event){
                var name_check =$(this).attr("name");
                //alert('해당 '+name_check+'의 버튼이 클릭되었습니다.');
                
                if(name_check == '국내여행'){
                        location.href= '/national_travel';
                    }
                    else if (name_check == '교통수단'){
                        location.href= '/vehicle_travel';
                    }
                    else if (name_check == '여행 준비'){
                        location.href= '/ready_to_travel';
                    }else if (name_check == '게시판'){
                        
                        $.ajax({
                            url:'/process/ajax_exist_session',
                            dataType:'json',
                            type:'POST',
                            success:function(result){     
                                var result_info = result.result;
                                
                                if(result_info.id!=null&&result_info.name!=null){
                                    location.href= '/process/listpost?page=0&perPage=5'; 
                                }else{
                                    alert('게시판 정보를 이용할 수 없습니다. 로그인해주세요!');
                                }      
                            }
                        });
                        
                }
            });

            $(".list_images").click(function(event){
                var id_check = $(this).attr("id");
                //alert('해당 '+id_check+'의 버튼이 클릭되었습니다.');
                
                
                $.ajax({
                    url: '/process/ajax_exist_session',
                    dataType:'json',
                    type:'POST',
                    success:function(result){
                        var userId = result.result.id;
                        var userName = result.result.name;

                        if(userId!=null&&userName!=null){
                            alert('해당 '+userId+' 와 '+userName+' 으로 로그인되어있습니다.');
                            location.href = '/process/acting_vehicle?vehicle='+id_check+'&page=0&perPage=5';
                        }
                        else{
                            alert('로그인이 되어있지 않습니다. 로그인을 다시 시도해주시길 바랍니다.');
                        }

                    }
                });
                
            });
            
            $("#check_button").click(function(event){
                var value_check = $('#vehicle').val();
                
                if(value_check == ''){
                    alert('검색창에 검색 내용을 작성하지 않았습니다. 작성해주세요! ');
                }else{
                    alert('해당 '+value_check+'의 버튼이 클릭되었습니다.');  
                    $.ajax({
                        url: '/process/ajax_exist_session',
                        dataType:'json',
                        type:'POST',
                        success:function(result){
                            var userId = result.result.id;
                            var userName = result.result.name;
                            
                            if(userId!=null&&userName!=null){
                                alert('해당 '+userId+' 와 '+userName+' 으로 로그인되어있습니다.');
                                location.href = '/process/acting_vehicle_check_button?story='+value_check+'&page=0&perPage=5';    
                        
                            }
                            else{
                                alert('로그인이 되어있지 않습니다. 로그인을 다시 시도해주시길 바랍니다.');
                            }
                            
                        }
                    });
                }
                
                
                //alert('해당 '+value_check+'로 검색합니다.');
            });

            $('.ui.rating').rating();

            $('.ui.search').search({
                type: 'category',
                source: categoryContent
            });

        });

    </script>