<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, height = device-height,
                                       initial-scale = 1">

        <title>보내준 메세지 확인</title>

        <link href="/public/semantic.min.css" rel="stylesheet">
        <link href="/public/cleditor/jquery.cleditor.css" rel="stylesheet">
        
        <script src="/public/jquery-3.4.1.min.js"></script>
        <script src="/public/semantic.min.js"></script>
        
        <style>
            
            *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            html{
                width: 100%;
                height: 100%;
            }
            body{
                width: auto;
                height: auto;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
            }
            
            #cardbox{
                width: 70%;
            }
            #iconImage{
                display: inline;
                width: 20em;
                height: 20em;
            }
            #titleText{
                font-size: 1.4em;
                font-weight: bold;
                color: #777;
            }
            #contentsText{
                color: #999;
            }
            #form1 {
                padding: 1em;
            }
            .row{
                height: 3em;
            }
            .col1{
                width: 5em;
            }
            .inputbox{
                width: 20em;
            }
            #buttonContainer{
                padding-top: 0.6em;
                text-align: right;
            }
            .container{
                width: 90%;
                height: 60%;
                max-width: 90%;
                max-height: 60%;
            }
            #basic_buttons{
                text-align:center;
            }
            
        </style>
        
        <script type="text/javascript">
            function listpost(a,b){
                
                var post = <%- JSON.stringify(post) %> ;
                
                alert(post);
                
                location.href='/process/acting_region?region='+post+'&page=0&perPage=5';
            }
        </script>
        
    </head>
    <body>
        <div class="container">  
            <br>
            <div class="ui raised segment">
                <a class="ui blue ribbon label">사용자 리스트</a>
                <br><br>
                
                <div class="ui grid">
                    <div class="two wide column">번호</div>
                    <div class="eleven wide column">제목</div>
                    <div class="one wide column">작성자</div>
                    <div class="one wide column">작성일</div>
                    <div class="one wide column">조회수</div>
                </div>
        
        <div class="ui very relaxed selection celled list">
            <% var noStart = (pageCount - page) *perPage;
            
                //var reverse_no = (pageCount *perPage) -1;
            
                for(var i =0; i <posts.length; i++){
                    var curTitle = posts[i]._doc.title;
                    var curContents = posts[i]._doc.contents;
                    var curWriter = posts[i]._doc.writer.id;
                    var makedCreated_at = posts[i]._doc.created_at;
                    
                    var Date_created_at = new Date(makedCreated_at);
                    var format_created_at = Date_created_at.getFullYear()+'/'+(Date_created_at.getMonth()+1)+'/'+Date_created_at.getDate();
                    
                    //var curNo = (noStart % reverse_no) +i;
                    var curNo = noStart - i;
                    
                    console.log('확인 : '+curTitle+', '+curContents+', '+curWriter+', '+curNo);
            %>
            <div class="item">
                <div class="ui grid">
                    <div class="two wide column"><%= curNo %></div>
                        <div class="fourteen wide column"
                         onclick="javascript : window.location = '/process/showpost/<%= posts[i]._id%>'">
                        <div class="ui header">
                            <h4 class="ui left aligned header">
                                <%= curTitle %>
                            </h4>
                            <h5 class=" ui right aligned orange header">
                                <%= curWriter%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <%= format_created_at%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                12 &nbsp;&nbsp;&nbsp;&nbsp;
                            </h5>
                        </div>
                        </div>
                </div>
            </div>
            <% } %>
            
            <div id="basic_buttons">
                <div class="tiny ui basic buttons">
                    <%
                        if(page>0){
                    %>
                    <div class="ui icon button" onclick="listpost(0,<%= perPage%>)">
                     <i class="fast backward icon"></i>
                    </div>
                    <div class="ui icon button" onclick="listpost(<%= (page-1)%>,<%= perPage%>)">
                     <i class="left chevron icon"></i>
                    </div>
                    <%
                    }else{
                    %>
                    <div class="ui disabled icon button">
                     <i class="fast backward icon"></i>
                    </div>
                    <div class="ui disabled icon button">
                     <i class="left chevron icon"></i>
                    </div>
                    <%
                    }
                    %>
                    <%
                        var initial = Math.floor(page/10) * 10;
                        console.log('initial : '+initial);

                        var max = pageCount - initial;
                        if(max > 10){
                            max = initial + 10;
                        }else{
                            max = initial + max;
                        }
                        console.log('max : '+max);
                        for(var i = initial; i < max; i++){
                            if(i !=page){
                    %>
                    <div class="ui button" onclick="listpost(<%= i %>,<%= perPage %>)">
                        <%= i %>
                    </div>
                    <%
                    }else{
                    %>
                    <div class="ui active basic button">
                        <%= i %>
                    </div>
                    <%
                    }
                    }
                    %>
                    <%
                     if((page+1)<pageCount){
                    %>
                    <div class="ui icon button" onclick="listpost(<%= (page+1) %>,<%= perPage %>)">
                     <i class="right chevron icon"></i>
                    </div>
                    <div class="ui icon button" onclick="listpost(<%= (pageCount - 1) %>,
                            <%= perPage %>)">
                     <i class="fast forward icon"></i>
                    </div>
                    <%
                    } else{
                    %>
                    <div class="ui disabled icon button">
                     <i class="right chevron icon"></i>
                    </div>
                    <div class="ui disabled icon button">
                     <i class="fast forward icon"></i>
                    </div>
                    <%
                    }
                    %>
                </div>
            </div>
        </div>
                <a href="/public/addpost.html">게시판 글쓰기 추가 &nbsp;&nbsp;&nbsp;</a>
                <a href="/">기본 페이지로 이동</a>
            </div>
        </div>
    </body>
</html>