<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>로그인 성공 페이지</title>
    </head>
    <body>
        <h1>로그인 성공</h1>
        <div><p>사용자 아이디: <%= userid %></p></div>
        <div><p>사용자 이름: <%= username %></p></div>
        <br><br><a href="/">처음 화면으로 돌아가기</a>
    </body>
</html>