<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/public/semantic.min.css" rel="stylesheet">
        <link href="/public/cleditor/jquery.cleditor.css" rel="stylesheet">
        <title>게시글 보여주기</title>
        
        <script src="/public/jquery-3.4.1.min.js"></script>
        <script src="/public/semantic.min.js"></script>
        <script src="/public/cleditor/jquery.cleditor.min.js"></script>
        
        <style>
            *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            html{
                width: 100%;
                height: 100%;
            }
            body{
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
            }
            
            #cardbox{
                width: 70%;
            }
            #iconImage{
                display: inline;
            }
            #titleText{
                font-size: 1.4em;
                font-weight: bold;
                color: #777;
            }
            #contentsText{
                color: #999;
            }
            #form1 {
                padding: 1em;
            }
            .row{
                height: 3em;
            }
            .col1{
                width: 5em;
            }
            .inputbox{
                width: 20em;
            }
            #buttonContainer{
                padding-top: 0.6em;
                text-align: right;
            }
            #img_photo{
                width: 150px;
                height: 150px;
            }
            .container{
                width: 50%;
                height: 60%;
                max-width: 50%;
                max-height: 60%;
            }
            
        </style>
        
        <script type="text/javascript">
            
            var split_result = [];
            var cur_url = $(location).attr('href');
            var split_url = cur_url.split('/');
            
            for ( var i in split_url ) {
                split_result[i]=split_url[i];
            }
            var cur_objectId = split_result[5];
            
            var comment_list = null;
            
            $(document).ready(function(){
                
                $.ajax({
                    url:'/process/ajax_comment_total_check',
                    dataType:'json',
                    async:false,
                    type:'POST',
                    data: {objectId:cur_objectId},
                    success: function(results){
                        
                        comment_list = results.results;
                        
                        for(var i=0; i<comment_list.length; i++){
                            //alert(i+'번째 메세지 :'+comment_list[i].contents+','+comment_list[i].writer.id);
                            
                            var Date_created_at = new Date(comment_list[i].created_at);
                            var format_created_at = Date_created_at.getFullYear()+'/'+(Date_created_at.getMonth()+1)+'/'+Date_created_at.getDate()+' '+Date_created_at.getHours()+':'+Date_created_at.getMinutes();
                            
                            
                            $('#comment_count').append('<div class="ui comments"><div class="comment"><a class="avatar"><img src="/public/images/avatar/small/user.png"></a><div class="content"><a class="author">'+comment_list[i].writer.id+'</a><div class="metadata"><div class="date">'+format_created_at+'</div><div class="rating"><i class="star icon"></i>5 Faves</div></div><div class="text">'+comment_list[i].contents+'</div></div><button class="ui small button" id="selected_button'+i+'" name="selected_button:'+i+'">해당 코멘트 삭제</button></div></div>');
                            
                        }      
                    }
                });
                
                var check_button_list=[];
                for(var i=0; i<comment_list.length;i++){
                    check_button_list[i] = 'selected_button:'+i;
                }
                
                for(var i=0; i<comment_list.length;i++){

                    var button_id = "#selected_button"+i;

                    $(button_id).click(function(){
                        var name_check =$(this).attr("name");
                        var current_url = $(location).attr('href');
                        alert("확인완료!:"+name_check);
                        
                        var j = name_check.split(':');
                        var j_number = Number(j[1]);

                        if(name_check==check_button_list[j_number]){
                            alert('해당'+comment_list[j_number].writer.id+'의 명령이 시작되었습니다.');
                            
                            $.ajax({
                                url:'/process/ajax_comment_delete',
                                dataType:'json',
                                type:'POST',
                                data: {objectId:cur_objectId,writer:comment_list[j_number].writer.id,contents:comment_list[j_number].contents},
                                success: function(results){
                                    if(results.reaction){
                                      alert(results.reaction);
                                      location.href=current_url;  
                                    }
                                }
                            });
                            
                        }
                    });
                } 
                
                
                $("#updatePost").click(function(event){
                   
                    var updatepost_url = 'http://localhost:3000/update_post';
                    
                    alert('게시글 수정 페이지로 이동합니다.');
                    
                    location.href = updatepost_url+'?objectId='+cur_objectId;
                    
                });
                
                
                
                $("#comment_button").click(function(event){ 
                    var comment_value = $('#comment_text').val(); 
                    var current_url = $(location).attr('href');
                    var get_title = $('#titleOutput').text();
                       
                        alert(comment_value +'   '+current_url+'    '+get_title);
                    
                    if(comment_value!=''){
                        $.ajax({
                            url:'/process/ajax_comment_response',
                            dataType:'json',
                            type:'POST',
                            data: {data:comment_value,objectId:cur_objectId,title:get_title},
                            success: function(results){
                                if(results.reaction){
                                    alert(results.reaction);
                                    location.href=current_url;
                                }
                            }

                        });
                    }
                });
            });
        
        </script>
        
    </head>
    <body>
        <div class="container">
            
            <br>
            <div class="ui raised segment">
                <a class="ui blue ribbon label">게시판</a>
                <br><br>
                <a class="ui blue tag label">글 작성</a>
                <div class="ui blue fluid card">
                    <div class="content">
                        <%
                            var curTitle = posts._doc.title;
                            var curContents = posts._doc.contents;
                            var curWriter = posts._doc.writer.id;
                            var curRegion = posts._doc.region;
                            var curInfo = posts._doc.info;
                            var curPhoto = posts._doc.photo;
                            var curTraffic = posts._doc.traffic;
                            var received_time = posts._doc.updated_at;
                        
                            //var entities = new Entities();
                            //var decodedContents = entities.decode(curContents);
                        
                            var Date_created_at = new Date(received_time);
                            var format_created_at = Date_created_at.getFullYear()+'/'+(Date_created_at.getMonth()+1)+'/'+Date_created_at.getDate()+' '+Date_created_at.getHours()+':'+Date_created_at.getMinutes();
                        
                        %>

                        <div id="titleOutput" class="header"><%= curTitle %></div>
                        <div class="meta">
                            <span class="right floated time"><%= format_created_at %></span>
                            <span class="category"><%= curInfo %></span>
                        </div>
                        <div id="contentsOutput" class="description">
                            <%= curContents %>
                        </div>
                    </div>
                    
                    <div class="extra content">
                        <div class="left floated author">
                            <img class="ui avater image" id="img_photo" src= "\<%= curPhoto %>">
                            <div>
                                <%= curRegion %>
                            </div>
                            <div>
                                <%= curTraffic %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="extra content">
                        <div class="right floated author">
                            <img class="ui avater image" src="/public/images/author.png"><%= curWriter %>
                        </div>
                    </div>
                </div>
                
                <form class="ui reply form">
                    <div class="field">
                      <textarea placeholder="코멘트를 적어주세요!" id="comment_text"></textarea>
                    </div>
                    <div class="ui primary submit labeled icon button" id="comment_button">
                      <i class="icon edit"></i> 코멘트 작성!
                    </div>
                </form>
                
                <br>
                <div id="comment_count"></div>
                <br>
                
                <a class="ui blue" id="updatePost">게시글 수정</a>&nbsp;&nbsp;&nbsp;
                <a href='/process/deletepost?title=<%= curTitle %>&writer=<%= curWriter %>'>게시글 삭제</a>&nbsp;&nbsp;&nbsp;
                <a href="/process/listpost?page=0&perPage=5">게시판으로 이동</a>
            </div>           
        </div>
    </body>
</html>