<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>헤드 부분 - ejs에서 include됨</title>
    </head>
    <body>
        <h2><%= title%></h2>
        <br>
        <h3>아이디: <%= result.id%></h3>
        <h3>이름: <%= result.name%></h3>
        
        <br><br><a href="/">홈페이지로 돌아가기</a>
    </body>
</html>