<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>포스트 정보 수정됨!</title>
    </head>
    <body>
        <h2><%= title%></h2>
        <br>
        <%
            var curTitle = posts._doc.title;
            var curContents = posts._doc.contents;
            var curWriter = posts._doc.writer.id;
            var curInfo = posts._doc.info;
        %>
        
        
        <h3>제목: <%= curTitle%></h3>
        <h3>수정 전 내용: <%= curContents%></h3>
        <h3>수정 후 내용: <%= contents_after%></h3>
        <h3>작성자: <%= curWriter%></h3>
        <h3>주제: <%= curInfo%></h3>
        
        <br><br><a href="/process/listpost?page=0&perPage=5">게시판으로 돌아가기</a>
    </body>
</html>