<!DOCTYPE html>
<html>
    <head>
        <%- include ('./header_setting/setting_header_index.ejs'); -%>
        
    </head>
    <body>
        <% 
            var user_id = userId;
            var user_name = userName;
        %>
        <div id="background_img_header_secondary_menu">
        <% if(user_id!=null  && user_name!=null) {%>
            <%- include ('./header_body_bottom/header/header_login_secondary_menu.ejs'); -%>
        <% }else{ %>
            <%- include ('./header_body_bottom/header/header_secondary_menu.ejs'); -%>
        <% } %>
        <%- include ('./header_body_bottom/header/header_menubar.ejs'); -%>
        </div>
        <%- include ('./header_body_bottom/body/body_search_region.ejs'); -%>
        <%- include ('./header_body_bottom/body/body_image_region.ejs'); -%>
        <%- include ('./header_body_bottom/body/body_random_index.ejs'); -%>
        <%- include ('./header_body_bottom/bottom/bottom_helper.ejs'); -%>
        <%- include ('./header_body_bottom/bottom/bottom_info.ejs'); -%>
    </body>
</html>