<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, height = device-height,
                                       initial-scale = 1">
        <title> 글 수정</title>
        
        <link href="/public/semantic.min.css" rel="stylesheet">
        
        <script src="/public/jquery-3.4.1.min.js"></script>
        <script src="/public/semantic.min.js"></script>
        <script src="/public/ckeditor/ckeditor.js"></script>
        
        <script>
            $(document).ready(function(){
                //CKEDITOR.config.extraPlugins = 'colorbutton';
                CKEDITOR.env.isCompatible = true;
                CKEDITOR.replace('contents');
                
            });
        </script>
        
        <style>
            *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            html{
                width: 100%;
                height: 100%;
            }
            body{
                width: auto;
                height: auto;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
            }
            
            #cardbox{
                width: 70%;
            }
            #iconImage{
                display: inline;
                width: 20em;
                height: 20em;
            }
            #titleText{
                font-size: 1.4em;
                font-weight: bold;
                color: #777;
            }
            #contentsText{
                color: #999;
            }
            #form1 {
                padding: 1em;
            }
            .row{
                height: 3em;
            }
            .col1{
                width: 5em;
            }
            .inputbox{
                width: 20em;
            }
            #buttonContainer{
                padding-top: 0.6em;
                text-align: right;
            }
            
        </style>
        
        <script type="text/javascript">
            
            var getParameters = function (paramName) {
                // 리턴값을 위한 변수 선언
                var returnValue;

                // 현재 URL 가져오기
                var url = location.href;

                // get 파라미터 값을 가져올 수 있는 ? 를 기점으로 slice 한 후 split 으로 나눔
                var parameters = (url.slice(url.indexOf('?') + 1, url.length)).split('&');

                // 나누어진 값의 비교를 통해 paramName 으로 요청된 데이터의 값만 return
                for (var i = 0; i < parameters.length; i++) {
                    var varName = parameters[i].split('=')[0];
                    if (varName.toUpperCase() == paramName.toUpperCase()) {
                        returnValue = parameters[i].split('=')[1];
                        return decodeURIComponent(returnValue);
                    }
                }
            };
            
            var received_object_id = getParameters('objectId');
            
            $(document).ready(function(){
                
            $.ajax({
                    url:'/process/ajax_updatePost',
                    dataType:'json',
                    type:'POST',
                    data:{objectId:received_object_id},
                    success:function(results){
                        var post_info = results.result;

                        alert('확인체크 : title ->'+post_info.title+', contents ->'+post_info.contents+', writer ->'+post_info.writer.id+', info ->'+post_info.info+', objectId ->'+post_info._id+', region ->'+post_info.region+', upload_photo ->'+post_info.photo+', traffic ->'+post_info.traffic);
                        
                        $('#title').val(post_info.title);
                        $('#contents').text(post_info.contents);
                        $('#info').val(post_info.info);
                        $('#writer').val(post_info.writer.id);
                        $('#objectId').val(post_info._id);
                        $('#region').val(post_info.region);
                        //$('#upload_file').val(post_info.photo);
                        $('#region').val(post_info.region);
                        $('#traffic').val(post_info.traffic);
                        
                    }

                });
                
            });
            
        </script>
        
    </head>
    <body>
        <div class="container">
            
            <br>
            
            <div class="ui raised segment">
                <a class="ui blue ribbon label">게시판</a>
                <br><br>
                <a class="ui blue tag label">게시판</a>
                <div class="ui blue fluid card">
                <form class="content ui form" method="post" action="/process/updatepost" enctype="multipart/form-data">
                    <h4 class="ui dividing header">글 쓰기 입력 항목</h4>

                    <div class="two fields">
                        <div class="field">
                            <label>제목</label>
                            <input type="text" name="title" id="title" placeholder="제목 입력">
                        </div>
                        <div class="field"></div>
                    </div>

                    <div class="field">
                        <label>내용</label>
                        <textarea id="contents" name="contents" rows="10" cols="80">
                        </textarea>
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label>종류</label>
                            <select id="info" name="info">
                                <option value="경제">경제</option>
                                <option value="관광">관광</option>
                                <option value="문화">문화</option>
                                <option value="쇼핑">쇼핑</option>
                                <option value="역사">역사</option>
                                <option value="음식">음식</option>
                                <option value="음악">음악</option>
                                <option value="자연">자연</option>
                            </select>
                        </div>
                        <div class="field"></div>
                    </div>
                    
                   <div class="two fields">
                        <div class="field">
                            <label>지역</label>
                            <select id="region" name="region">
                                <optgroup label="서울">
                                    <option value="서울 동대문구">동대문구</option>
                                    <option value="서울 마포구">마포구</option>
                                    <option value="서울 종로구">종로구</option>
                                </optgroup>
                                <optgroup label="경기도">
                                    <option value="경기도 과천">과천</option>
                                    <option value="경기도 수원">수원</option>
                                    <option value="경기도 평택">평택</option>
                                </optgroup>
                                <optgroup label="인천">
                                    <option value="인천 중구">중구</option>
                                </optgroup>
                                <optgroup label="강원도">
                                    <option value="강원도 강릉">강릉</option>
                                    <option value="강원도 춘천">춘천</option>
                                </optgroup>
                                <optgroup label="충청도">
                                    <option value="충청도 천안">천안</option>
                                    <option value="충청도 태안">태안</option>
                                </optgroup>
                                <optgroup label="전라도">
                                    <option value="전라도 구례">구례</option>
                                    <option value="전라도 광주">광주</option>
                                    <option value="전라도 목포">목포</option>
                                </optgroup>
                                <optgroup label="경상도">
                                    <option value="경상도 경주">경주</option>
                                    <option value="경상도 부산">부산</option>
                                    <option value="경상도 안동">안동</option>
                                </optgroup>
                                <optgroup label="제주도">
                                    <option value="제주도 서귀포">서귀포</option>
                                    <option value="제주도 우도">우도</option>
                                    <option value="제주도 제주">제주</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="field"></div>
                    </div>
                    
                    <div class="two fields">
                        <div class="field">
                            <label>사진</label>
                            <input type="file" name="upload_file" id="upload_file" placeholder="사진을 첨부해주세요!">
                        </div>
                        <div class="field"></div>
                    </div>
                    
                    <div class="two fields">
                        <div class="field">
                            <label>교통수단</label>
                            <select id="traffic" name="traffic">
                                <optgroup label="버스">
                                    <option value="고속버스">고속버스</option>
                                    <option value="지역버스">지역버스</option>
                                    <option value="관광버스">관광버스</option>
                                </optgroup>
                                <optgroup label="철도">
                                    <option value="지하철">지하철</option>
                                    <option value="기차">기차</option>
                                    <option value="KTX">KTX</option>
                                </optgroup>
                                <optgroup label="항공기">
                                    <option value="비행기">비행기</option>
                                </optgroup>
                                <optgroup label="자동차">
                                    <option value="자동차">자동차</option>
                                </optgroup>
                                <optgroup label="자전거">
                                    <option value="자전거">자전거</option>
                                </optgroup>
                                <optgroup label="오토바이">
                                    <option value="오토바이">오토바이</option>
                                    <option value="스쿠터">스쿠터</option>
                                </optgroup>
                                <optgroup label="도보">
                                    <option value="도보">도보</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="field"></div>
                    </div>
                    
                    <div class="two fields">
                        <div class="field">
                            <label>작성자</label>
                            <input type="text" name="writer" id="writer" placeholder="작성자 아이디 입력" >
                        </div>
                        <div class="field"></div>
                    </div>
                    
                    <input type="hidden" name="objectId" id="objectId">

                    <input class="ui submit button" type="submit" value="수정" name="">
                    <input class="ui button" type="button" value="취소" name="" onclick="javascript : history.back()">
                </form>
            </div>
            <a href="/process/listpost?page=0&perPage=5">게시판으로 이동</a>
            </div>
        </div>
    </body>
</html>