<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
    </head>
    <bod>
        <form id="form1" method="post" action="/process/upload" enctype="multipart/form-data">
            <input type="file" name="upload_file">
            <input type="submit" value="추가">
        </form>
    </bod>
</html>