<!DOCTYPE html>
<html>
    <head>
        <%- include ('./header_setting/setting_header_vehicle_travel.ejs'); -%>
    </head>
    <body>
        <% 
            var user_id = userId;
            var user_name = userName;
        %>
        
        <% if(user_id!=null  && user_name!=null) {%>
            <%- include ('./header_body_bottom/header/header_login_secondary_menu.ejs'); -%>
        <% }else{ %>
            <%- include ('./header_body_bottom/header/header_secondary_menu.ejs'); -%>
        <% } %>
        
        
        <%- include ('./header_body_bottom/header/header_menubar.ejs'); -%>
        <%- include ('./header_body_bottom/body/body_search_travel.ejs'); -%>
        
        <%- include ('./header_body_bottom/body/body_image_vehicle.ejs'); -%>
        
        <%- include ('./header_body_bottom/body/body_vehicle_travel.ejs'); -%>
        
        <%- include ('./header_body_bottom/bottom/bottom_helper.ejs'); -%>
        <%- include ('./header_body_bottom/bottom/bottom_info.ejs'); -%>
        
    </body>
</html>