<div style="border:1px;float:left;width:100%;padding:10px;color:white">
<br>
상호명 (주)000000 | 대표 000 | 개인정보보호책임자 000 | 사업자등록번호 000-00-000000 
사업자정보확인 | 통신판매업신고번호 2019-서울서초-0260
주소 000000 000 000000 000, 000000 00층(00동) | 이메일 0000@0000000000.com | 
마케팅/제휴 문의 000000000@00000000.com

자사는 00000000 00000000에 가입되어 있습니다. 0000000은 00000000이며 
통신판매의 당사자가 아닙니다. 따라서 상품·거래정보 및 거래에 대하여 책임을 지지않습니다.
</div>