<div class="font_color">
    <br>
    <br>
    <br>
    <div class="font_color" style="border:1px;float:left;width:50%;padding:10px">
        <div class="ui list">
          <div>고객센터</div>
            <br>
          <div>1544-1000</div>
          <div>월~금: 09:00~18:00(점심시간 12:00~13:00)공휴일&주말:1:1채팅 상담만 가능</div>
          <div>환불,변경 접수: 월~금 09:00~17:00</div>
        </div>
    </div>
    <div style="border:1px;float:left;width:15%;padding:10px">
        <div class="ui link list">
          <div>소개</div>
            <br>
          <a class="active item" style="color:white">회사소개</a>
          <a class="item" style="color:white">채용</a>
        </div>
    </div>
    <div style="border:1px;float:left;width:15%;padding:10px">
        <div class="ui link list">
          <div>파트너</div>
            <br>
          <a class="active item" style="color:white">파트너 등록하기</a>
          <a class="item" style="color:white">리얼가이드</a>
          <a class="item" style="color:white">가이드 블로그</a>
        </div>
    </div>
    <div style="border:1px;float:left;width:20%;padding:10px">
        <div class="ui link list">
          <div>지원</div>
            <br>
          <a class="active item" style="color:white">자주 묻는 질문</a>
          <a class="item" style="color:white">최저가 보장제</a>
        </div>
    </div>
</div>