<body>
    <div class="ui four item menu" id="background_img_header_menubar">
        <button class="ui orange basic button" id="select_button0" style="font-weight:bold" name="국내여행">국내여행</button>
        <button class="ui yellow basic button" id="select_button1" style="font-weight:bold" name="교통수단">교통수단</button>
        <button class="ui blue basic button" id="select_button2" style="font-weight:bold" name="여행 준비">여행 준비</button>
        <button class="ui violet basic button" id="select_button3" style="font-weight:bold" name="게시판">게시판</button>
    </div>
</body>