<body>
    <br>
     <h2>국내 여행 경험 공유 사이트</h2>
    <div class="ui secondary  menu">
      <a class="item" id="home" name="home" style="font-weight:bold">
        Home
      </a>
      <h5 class="item" id="userId" name="userId" style="font-weight:bold">
        아이디 : <%= userId %>
      </h5>
      <h5 class="item" id="userName" name="userName" style="font-weight:bold">
        이름 : <%= userName %>
      </h5>
      <a class="item" id="update" name="update" style="font-weight:bold">
        회원 수정
      </a>
      <a class="item" id="delete" name="delete" style="font-weight:bold">
        회원 탈퇴
      </a>
      <a class="item" id="logout" name="logout" style="font-weight:bold">
        로그아웃
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" id="head_search_text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
        <a class="ui item" id="search" name='search' style="font-weight:bold">
          검색
        </a>
      </div>
    </div>
</body>