<body>
    <br>
     <h2>국내 여행 경험 공유 사이트</h2>
    <div class="ui secondary  menu">
      <a class="item" id="home" name="home" style="font-weight:bold">
        Home
      </a>
      <a class="item" id="login" name="login" style="font-weight:bold">
        로그인
      </a>
      <a class="item" id="sign_up" name="sign_up" style="font-weight:bold">
        회원가입
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input" style="font-weight:bold">
            <h4>내용 속 검색(단어 사용):</h4>
            <input type="text" id="head_search_text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
        <a class="ui item" id="search" name='search' style="font-weight:bold">
          검색
        </a>
      </div>
    </div>
</body>